.button{

    height: 50px;
    aspect-ratio: 1/1;
/*     border-radius: 50%; */
    border: solid transparent 1px;
    background-color: transparent;
    /* background-color: var(--accent-color-lighter);  */
    
}

.button:hover{
/*     background-color: var(--accent-color-light); */
}

.active{
    fill: red;
}