.category-title{
    color: var(--secondary-color-darkest);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background: linear-gradient(transparent ,white 40px);
    min-width: 100%;    
    z-index: 1;
    padding: var(--space-xl);
    font-size: clamp(var(--text-md), 10vw ,var(--text-xl));
    border-bottom: solid 3px var(--accent-color-lighter);

}
.category-title:nth-child(1){
    background-color: white;
}