.timbre-suivre{
    background-image: url(../../icons/like.svg);
    /* background-blend-mode:difference; */
    background-size: cover;
    transition: transform 0.3s;
}
.timbre-suivre:hover{
    transform: rotate(45deg);
    cursor: pointer;
}

.timbre-suivre.active{
    background-image: url(../../icons/love-folder.svg);
    filter: invert(10%) sepia(78%) saturate(4405%) hue-rotate(332deg) brightness(80%) contrast(112%);
}