.filtres-catalogue{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 350px;
    padding: var(--space-xxl);
    padding-top: 100px;
}

.filtres-catalogue input, .filtres-catalogue label {
    /*font-size: var(--text-md);*/
    font-family: var(--secondary-font);
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.filtres-catalogue h2{
  color: var(--main-color-dark);
 }






