.filtres-conteneur{
    display: flex;
    flex-direction: column;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    
}

@media screen and (max-width: 960px) {
    .filtres-conteneur{
        position: static;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 665px) {
    .filtres-conteneur{
        justify-content: flex-end;
    }
    
}