.nav-secondaire{
    font-family: var(--accent-font);
    display: flex;
    background-color: var(--main-color-lighter);
    padding: var(--space-xxl);
    padding-top: 30px;
    gap: 30px;
    align-items:first baseline;
    justify-content: space-between;

}

.nav-secondaire a{
/*     padding-left: var(--space-xxl);
    padding-right: var(--space-xxl); */
    background-color: var(--main-color-lighter);
    font-size: var(--text-md);
}

.nav-secondaire div{
    line-height: 1.5em;
}


.nav-secondaire .terms-and-conditions{
    font-size: var(--text-xs);
}

.nav-secondaire .nav-image{
    background-image: url(../../icons/letter.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 40px;
    min-height: 40px;
}

@media screen and (max-width: 750px) {
    .nav-secondaire{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 900px) {
    .nav-secondaire{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}