.sections-filtres-timbres{
    display: flex;

    gap: var(--space-lg);
}

@media screen and (max-width: 960px) {
    .sections-filtres-timbres{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}