:root{
    --space-xxxl: 48px;
    --space-xxl:40px;
    --space-xl:32px;
    --space-lg:24px;
    --space-md:16px;
    --space-sm:12px;
    --space-xs:8px;
    --space-xxs: 4px;
    --space-xxxs: 2px;
}